@model TechnicalTest.Models.ViewModels.Visit.UpdateVisitViewModel

@{
    ViewBag.Title = "Update Patient Visit";
    Layout = "_Layout";
}

<h2>Update Patient Visit</h2>



<form method="post" asp-action="UpdatePatientVisit">


    @if (ViewBag.ErrMsg is not null)
    {
        <p class="text-danger">@ViewBag.ErrMsg</p>
    }

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">

        <label asp-for="CameToSee"></label>
        <input asp-for="CameToSee" class="form-control" placeholder="Person To See">
        <span asp-validation-for="CameToSee" class="text-danger"></span>
    </div>

    <div class="form-group">

        <label asp-for="Reason"></label>
        <input asp-for="Reason" class="form-control" placeholder="Reason">
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

